/* Si no hay contenido el footer se mantiene en abajo */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 10px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    /* Footer height */
}

/* -------------------------------------------------- */


/* imagen perfil admin */
.img-profile {
    height: 2rem;
    width: 2rem;
}

/* lading page */

.main-img {
    width: 90%;
}

a {
    text-decoration: none;
    color: #212529;
}

#camisetas-mujer:hover,
#camisetas-hombre:hover {
    background-color: #ccc;
}

.miembro img {
    width: 100%;
}

.miembro h3 {
    margin: 15px;
}

.miembro {
    border: 1px solid black;
}