/* Si no hay contenido el footer se mantiene en abajo */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 10px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    /* Footer height */
}

/* -------------------------------------------------- */


/* imagen perfil admin */
.img-profile {
    height: 2rem;
    width: 2rem;
}

/* lading page */

/* Imagen efecto parallax */
.parallax {
    /* The image used */
    background-image: url("../img2/paralax.jpg");

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}